@import "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {

    background-color: rgb(20, 4, 4);
}

.box h1 {

    color: aliceblue;
    text-align: center;
    margin-top: 30px;

}

.box form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    gap: 10px;

    

}

.box input {
    width: 300px;
    height: 30px;
    padding-left: 10px;
    border-radius: 120px;
}

.box button {
    height: 30px;
    margin-top: 5px;
    padding-left: 10px;
    padding-right: 10px;


}

